<launch>
  <arg name="bag_file" />
  <param name="robot_description" command="$(find xacro)/xacro $(find spot_description)/urdf/spot.urdf.xacro" />
  <param name="/use_sim_time" value = "true" />

  <include file="$(find brm_evanescence)/launch/stack.launch" />
  <node name="player" pkg="rosbag" type="play" args="$(arg bag_file)" />

</launch>
